{% extends 'layout.html.twig' %}
{# extends - означает, что данный шаблон расширяет какой-то базовый шаблон
     Это означает, что какие-то блоки (части) базового шаблона будут изменены.
     На основе базового мы получаем свой шаблон 

     Таким образом мы меняем содержимое тега title.
     В шаблоне layout.html.twig блок с именем title находится в средине тега title
     Значит в нашем шаблоне мы поменяем содержимое этого блока 
#}
{% block title %}Geekhub page!!!{% endblock title %}

{% block content %}
{# это пример комментария твиг. Он не будет выведен в результирующий html-файл. #}
<!-- это обычный комментарий html. Он будет выведен, но браузером проигнорируется -->

    <p class="about-geekhub"><strong>Geekhub</strong> - це проект, що надає можливість отримати практичні знання та навички в сфері розробки програмного забезпечення. На відміну від традиційної освіти, викладачі GeekHub працюють з новітніми технологіями у провідних софтверних компаніях, тому слухачі GeekHub отримують тільки актуальні знання. Якщо ти зацікавлений — запрошуємо ознайомитись з деталями проекту, та зареєструватися слухачем!</p>
    <h2>Наши курсы</h2>
    <div class="courses">
        <!-- Это пример цикла для массива данных о каждом курсе
        фрагмент шаблона, находящийся в цикле, будет несколько раз вставлен в результирующий html-файл,
        но каждый раз - со своими данными -->
         {% for course in courses %}
                <div class="course">
                    <!-- Это пример вывода содержимого массива или обьекта: переменная.поле -->
                    <img src="frontend/images/courses/{{ course.image }}" alt="{{ course.alt }}" />
                    <a href="{{ course.url }}">{{ course.name }} </a>
                    <p>{{ course.description }}</p>
                    {# можно делать include и в средине циклов, вставляя готовые блоки html.twig.
                    Но я тут этого не делал, так как в других местах не используется блок для курсов #}
                </div>
         {% endfor %}
                <div class="clear"></div>
        <!-- конец цикла -->
    </div>
    <div class="clear"></div>
{% endblock content %}
